*{
margin: 0;
}

footer{
    background-color: #1F2937;
    display: flex;
    min-height: 400px;
    flex-direction: column;
}
footer>.top{
    display: flex;
    justify-content: space-evenly;
}
footer>div>.col1{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 605px;
}
footer>div>.col1>.title{
    padding: 40px 0px;
    display: flex;
    align-items: start;
    width: 50%;
}
footer>div>.col1>.title>h1{
    font-family: inter;
    color: white;
    font-size: 45px;
}
footer>div>.col1>.text{
    width: 50%;
}
footer>div>.col1>.text>p{
    color: white;
    font-family: inter;
    font-size: 20px;
}
footer>div>.col2{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 605px;
}
footer>div>.col2>.title{
        padding: 40px 0px;
}
footer>div>.col2>.link-footer{
    display: flex;
    flex-direction: column;
}
footer>div>.col2>.link-footer>a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 0px;
    font-family: inter;
}
footer>div>.col2>.link-footer>a:hover{
    color: #3B82F6;
}
footer>div>.col2>.title>h1{
        font-family: inter;
    color: white;
    font-size: 45px;
}
footer>div>.col3{
    width: 625px;
    display: flex;
    flex-direction: column;
    width: 605px;
}
footer>div>.col3>.title{
        padding: 40px 0px;
}
footer>div>.col3>.title>h1{
        font-family: inter;
    color: white;
    font-size: 45px;
}

footer>div>.col3>.contatos{}
footer>div>.col3>.contatos>.email{}
footer>div>.col3>.contatos>.email>p{
            font-family: inter;
    color: white;
    font-size: 25px;
}
footer>div>.col3>.contatos>.telefone{}
footer>div>.col3>.contatos>.telefone>p{
            font-family: inter;
    color: white;
    font-size: 25px;
}

footer>.barra{
    width: 100%;
    background-color: white;
    height: 1px;
    margin-top: 50px;
}
footer>.rotulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}
footer>.rotulo>p{
    color: white;
    font-size: 13px;
    font-family: inter;
}