* {
    margin: 0;
}

#pincipal {
    background-color: #3B82F6;
    min-height: 100vh;
    margin-bottom: 20px;
}

#pincipal>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#pincipal>div>h1 {
    color: white;
    font-family: Inter;
    font-size: 200px;
}

#Produtos {
    padding: 58px 0px;
}

#Produtos>col {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

#Produtos>.col>.title {
    text-align: center;
}

#Produtos>.col>.title>h1 {
    font-family: inter;
    font-weight: bold;
    font-size: 55px;
}

#Produtos>.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}

#Produtos>.content>.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 600px;
    box-shadow: 8px 15px 21px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 8px 15px 21px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 8px 15px 21px -1px rgba(0, 0, 0, 0.5);
    padding: 30px 0px;
    border-radius: 10px;
    padding: 0;
    text-decoration: none;
}

#Produtos>.content>.card>.img {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    width: 100%;
    height: 60%;
}

#Produtos>.content>.card>.img>img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: flex-start;

}

#Produtos>.content>.card>.content-card {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding: 0px 20px;
}

#Produtos>.content>.card>.content-card>.title-card {
    padding-bottom: 10px;
}

#Produtos>.content>.card>.content-card>.title-card>h3 {
    font-family: Inter;
    font-size: 30px;
}

#Produtos>.content>.card>.content-card>.description {

}

#Produtos>.content>.card>.content-card>.description>.link-categoria {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

#Produtos>.content>.card>.content-card>.description>.link-categoria>a {
    font-family: Inter;
    text-decoration: none;
    font-weight: 600;
    color: #3B82F6;
}

#Produtos>.content>.card>.content-card>.description>.link-categoria>a:hover {}

#Produtos>.content>.card>.content-card>.description>.text {
    padding: 10px 0px;
}

#Produtos>.content>.card>.content-card>.description>.text>p {
    font-family: Inter;
    font-size: 20px;
    color: #727986;
}

#Produtos>.content>.card>.content-card>.description>.text>div {
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
    color: #3B82F6;
    padding-top: 10px;
}

#Produtos>.content>.card>.content-card>.description>.buton {
    width: 100%;
    padding: 20px 0px;
}
.buton {
    width: 100%;
    padding: 20px 0px;
}
#Produtos>.content>.card>.content-card>.description>.buton>button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3B82F6;
    color: white;
    font-family: Inter;
    cursor: pointer;
    border-radius: 4px;
}

.buton>button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3B82F6;
    color: white;
    font-family: Inter;
    cursor: pointer;
    border-radius: 4px;
}


#Categoria {
    padding: 40px 0px;
}

#Categoria>col {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

#Categoria>.col>.title {
    text-align: center;
}

#Categoria>.col>.title>h1 {
    font-family: inter;
    font-weight: bold;
    font-size: 55px;
}

#Categoria>.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}

#Categoria>.content>.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 470px;
    box-shadow: 8px 15px 21px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 8px 15px 21px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 8px 15px 21px -1px rgba(0, 0, 0, 0.5);
    padding: 30px 0px;
    border-radius: 10px;
    padding: 0;
}

#Categoria>.content>.card>.img {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    width: 100%;
    height: 60%;
}

#Categoria>.content>.card>.img>img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: flex-start;

}

#Categoria>.content>.card>.content-card {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#Categoria>.content>.card>.content-card>.title-card {
    padding-bottom: 10px;
}

#Categoria>.content>.card>.content-card>.title-card>h3 {
    font-family: Inter;
    font-size: 30px;
}

#Categoria>.content>.card>.content-card>.description {}

#Categoria>.content>.card>.content-card>.description>.link-categoria {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

#Categoria>.content>.card>.content-card>.description>.link-categoria>a {
    font-family: Inter;
    text-decoration: none;
    font-weight: 600;
    color: #3B82F6;
}

#Categoria>.content>.card>.content-card>.description>.link-categoria>a:hover {}

#Categoria>.content>.card>.content-card>.description>.text {
    padding: 10px 0px;
}

#Categoria>.content>.card>.content-card>.description>.text>p {
    font-family: Inter;
    font-size: 20px;
    color: #727986;
}

#Noticias {
    background-color: #3B82F6;
    height: 312px;
    border-radius: 5px;
}

#Noticias>.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Noticias>.title>h1 {
    color: white;
    font-family: inter;
    font-size: 45px;
    padding: 26px 0px;
}

#Noticias>.description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Noticias>.description>h2 {
    color: white;
    font-family: inter;
    font-size: 30px;
    font-weight: 300;
}

#Noticias>.enviar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#Noticias>.enviar>input {
    padding: 10px 10px;
    width: 25%;
    border: none;
    outline: #3B82F6;
    border-radius: 5px;
}

#Noticias>.enviar>button {
    padding: 5px 30px;
    margin-left: 10px;
    border: none;
    font-size: 20px;
    background-color: #1F2937;
    color: white;
    font-family: inter;
    border-radius: 5px;
}