*{
    margin: 0;
}


    section {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      color: black;
      margin-bottom: 30px!important;
    }

    section {
      color: #fff;
      padding: 0;
      margin: 76px 0px;
    }

    .swiper {
      width: 45%;
      margin: 20px 20px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
    }
.content-2{
    width: 35%;
    color: #1F2937;
    height: 42vh;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.content-2>.title{
}
.content-2>.title>h1{
    height: 100%;
    font-family: inter;
}
.content-2>.description{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.content-2>.description>p{
    font-size: 24px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    word-break: break-all;
}
.content-2>.preco{
    font-family: 'Inter';
}
.content-2>.preco>h1{}
.content-2>.avaliacao{}
.content-2>.avaliacao>p{
    font-family: 'Inter';
    font-size: 23px;
}

.buton>form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content-2>.buton{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.buton  button{
    width: 92%;
    border: none;
    background-color: #3B82F6;
    color: white;
    font-family: Inter;
    cursor: pointer;
    border-radius: 4px;
    padding: 17px;
    font-size: 23px;
}
