*{
    margin: 0;
}

    section {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      color: black;
      margin-bottom: 30px!important;
    }

    section {
      color: #fff;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 45%;
      height: 50%;
      margin: 0px 20px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.content-2{
    width: 35%;
    color: #1F2937;
    height: 42vh;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.content-2>.title{
    max-height: 0%;
}
.content-2>.title>h1{
    height: 100%;
    font-family: inter;
}
.content-2>.description{}
.content-2>.description>p{}
.content-2>.preco{}
.content-2>.preco>h1{}
.content-2>.avaliacao{}
.content-2>.avaliacao>p{}
.content-2>.buton{}
.content-2>.buton>button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3B82F6;
    color: white;
    font-family: Inter;
    cursor: pointer;
    border-radius: 4px;
}
